
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f1014;
  color: #c4cdcf;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.app-wrapper {
    display: flex;
    flex-direction: row; /* Sidebar on right, Content on left */
    width: 100%;
}

.main-content {
    flex: 1; /* This pushes the sidebar to the far right */
    padding: 2rem;
    background-color: #0f1014;
}